h1 {
    text-align: center;
    padding: 10px;
    font-size: 32px !important;
    font-weight: 500;
    color: #333;
}

.flex-button-right {
    order: 2;
    margin-left: auto !important;
    margin-right: 16px !important;
}

.user-image {
    background-image: url("../assets/images/user.png");
    background-size: cover;
}

.content {
    margin: 0px !important;
    padding: 8px 16px 8px 16px;
    .card-wrapper {
        margin: 16px 0px;
    }
    & mat-card {
        height: 100%;
        &-content{
            min-height:150px;
            mat-icon{
                position:relative;
                top:6px;
            }
        }
        li {
            list-style: none;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    &-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 8px;
    }
    &-thumb {
        background: #7a8cef;
        border-radius: 8px;
        &:hover {
            background: #3f51b5;
        }
    }
}